---
layout: default
---
<h1 class="green start">{{ page.title }}</h1>
<p class="meta">Categorias: {{ page.categories }}</p>

{{ content }}


<script>
$('video').mediaelementplayer({
startLanguage: 'es',


features: ['playpause','progress','current','duration','tracks','volume','fullscreen'],
        success: function(media, node, player) {
                var events = ['loadstart', 'play','pause', 'ended'];

                for (var i=0, il=events.length; i<il; i++) {

                        var eventName = events[i];

                        media.addEventListener(events[i], function(e) {
                                $('#output').append( $('<div>' + e.type + '</div>') );
                        });

                }
        }
});
</script>

